body {
    font-family: "Poppins", sans-serif;
}

.container {
    .hero-section {
        background-color: rgb(215, 245, 245);
        padding: 2rem 1.5rem;


        .hero-section-inner {
            .hero-section-innerheader{
                p{
                    font-size:2.5rem;
                    text-align: center;
                }
            }


            .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;


                .client {
                    background-color: #fff;
                    height: fit-content;
                    padding: 1rem;
                    border-radius: 10px;

                    .client-id {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        .card-head-left {
                            display: flex;
                            gap: 2rem;
                            align-items: center;



                            .image {
                                width: 4rem;
                                height: 4rem;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                }
                            }

                            .card-name {
                                .bold {
                                    font-size: 1.5rem;
                                    font-weight: 600;
                                }

                                .light {
                                    font-size: 1rem;
                                    font-weight: 500;
                                    color: rgb(171, 171, 171);
                                    margin-top: -1.8rem;
                                }
                            }
                        }

                        .social-media {
                            color: #09ACEE;
                            font-size: 2rem;
                            ;

                        }
                    }

                    .client-comment {
                        p {
                            color: rgb(171, 171, 171);
                        }
                    }

                    .comment-reaction {
                        display: flex;
                        justify-content: space-between;

                        .card-footer-left {
                            display: flex;
                            gap: 1rem;


                            i {
                                color: red;
                                font-size: 2rem;
                                font-weight: 500;
                            }

                            p {
                                margin-top: -0.1rem;
                                font-size: 1.5rem;
                                color: rgb(171, 171, 171);
                            }
                        }
                    }

                }
            }
        }
    }

    .main {
        display: flex;
        
        .main-inner{
            margin: 3rem auto;
            border: 1px solid red;
            .price {
                justify-content: center;
    
                .bold-font {
                    font-size: 2rem;
                }
    
                .price-card {
                    background-color: #fff;
                    height: fit-content;
                    padding: 1rem;
                    border-radius: 10px;
    
                }
            }
        }
    

        
 
    }
}